<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="style.css">
    


</head>
<body>
    <header>
        <nav>
            <ul>
                <br>
                <img src="new.jpg" width="180" height="200">
               
                <li><a href="{% url 'homepage' %}">Home</a></li>
                <li><a href="{% url 'products' %}">Products</a></li>
                <li><a href="{% url 'contact_us' %}">Contact Us</a></li>

            </ul>
        </nav>
    </header>
    <style>
        body {
            background-color: rgb(187, 201, 206);
        }

        h1 {
            color: white;
            text-align: center;

        }

        h4 {
            color: blue
        }

        p {
            font-family: verdana;
            font-size: 20px;
        }
    </style>

    <main>
        <h1 style="color: red"> Welcome to the myApp page</h1>

        <p>Your one-stop shop for the best cars and accessories.</p>
        <a href="{% url 'products' %}" class="btn">View Products</a>
    </main>

    <footer>
        <p>&copy; Homepage </p>
    </footer>
</body>
</html>